<!DOCTYPE html>
<html ng-app="moduleOne">
	<head>
		<title>JS17: Restaurant UI</title>
		<link rel="stylesheet" href="main.css"/>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js'></script>
		<script type='text/javascript' src='main.js'></script>
	</head>
<body ng-controller='controllerOne'>
<h1>Chipotle</h1>

<h2>Menu</h2>
<div ng-repeat='plate in menu.plates'>
	<strong>{{plate.name}}</strong><span> {{plate.price| currency}}</span>
	<div>{{plate.nameString()}}</div>
</div>
<h3>Drink Menu</h3>
<div ng-repeat='drink in drinkMenu.drinks'>
	<strong>{{drink.name}}</strong><span> {{drink.price | currency}}</span>
	<div>{{drink.nameString()}}</div>
</div>








</body>





</html>